@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  background: url("../public/assets/1.svg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0;
  width: 100%;
}

header .header-logo {
  width: 30%;
}

header .header-links {
  width: 40%;
  text-align: right;
}

header .header-links a,
header .header-links button {
  display: inline-block;
  margin: 2px 18px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: .9rem;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
}

header .header-links button {
  background: #271AC1;
  padding: 10px 30px;
  border: none;
  text-align: center;
  box-shadow: 0px 0px 10px #09090991;
  border-radius: 50px;
}

.ComingSoon {
  display: block;
  width: 45%;
  margin: 9vh auto;
  text-align: center;
  color: #ffffff;
}

.ComingSoon h1 {
  font-size: 2.5rem;
}

.ComingSoon h3 {
  font-size: 1rem;
  font-weight: 300;
}

.ComingSoon h3 span {
  font-size: 1rem;
  font-weight: 500;
}

.ComingSoon .CountdownTimer {
  display: flex;
  width: 100%;
  margin: 30px auto 40px;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}

.ComingSoon .CountdownTimer .CountdownBlock {
  width: 20%;
  padding: 30px 10px;
  background: #ffffff;
  border-radius: 9px;
  text-align: center;
  color: #000000;
}

.ComingSoon .CountdownTimer .CountdownBlock p {
  font-size: 2.4rem;
  font-weight: 600;
}

.ComingSoon .CountdownTimer .CountdownBlock label {
  font-size: .9rem;
  font-weight: 400;
}

.ComingSoon .WaitingList {
  display: block;
  width: 90%;
  margin: 10px auto;
}

.ComingSoon .WaitingList .WaitingListInputs {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.ComingSoon .WaitingList .WaitingListInputs input {
  width: 35%;
  margin: 10px 0;
  border-bottom: 2px solid #f6f7f93b;
  background: transparent;
  color: #707070;
  font-size: .8rem;
  padding: 5px 8px 8px 10px;
}

.ComingSoon .WaitingList .WaitingListMailBtn {
  background: #ffffff;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  border-radius: 51px;
}

.ComingSoon .WaitingList .WaitingListMailBtn input {
  background: #ffffff;
  width: 55%;
  font-weight: 300;
}

.ComingSoon .WaitingList .WaitingListMailBtn button {
  background: #271AC1;
  padding: 18px 24px;
  border-radius: 51px;
  width: 40%;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 0px 0px 10px #09090991;
}

.ContactBlurBack {
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  z-index: 25;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.ContactBlurBack .ContactForm {
  width: 50%;
  background: url("../public/assets/1.svg") no-repeat center;
  background-size: cover;
  color: #ffffff;
}

.ContactBlurBack .ContactForm>button {
  font-size: 1.4rem;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  padding: 16px 20px 13px;
  border-radius: 50%;
  background: #ffffff;
  color: #271AC1;
  aspect-ratio: 1/1;
  position: relative;
  top: 15px;
  left: -30px;
}

.ContactBlurBack .ContactForm h3 {
  text-align: center;
  width: 80%;
  margin: 2px auto 5px;
  font-weight: 400;
  font-size: 1.7rem;
}

.ContactBlurBack .ContactForm form {
  width: 80%;
  margin: 10px auto;
}

.ContactBlurBack .ContactForm form label {
  font-size: 1rem;
  font-weight: 400;
  display: block;
  margin: 5px 0;
}

.ContactBlurBack .ContactForm form input,
.ContactBlurBack .ContactForm form textarea {
  padding: 18px 22px;
  border-radius: 15px;
  font-size: .9rem;
  width: 90%;
  margin: 5px 0;
  color: #000000;
  resize: none;
}

.ContactBlurBack .ContactForm form button {
  align-items: center;
  margin: 10px 0;
  display: block;
  padding: 16px 50px;
  font-weight: 1.5rem;
  color: #ffffff;
  font-weight: 500;
  background: #271AC1;
  border-radius: 50px;
}

footer {
  width: 100%;
  margin: 10px auto 0;
  background: #19073b59;
  border-top: 1px solid #707070;
  padding: 20px 0 10px;
  text-align: center;
  color: #ffffff;
}

footer .FooterSocials {
  display: flex;
  width: 20%;
  margin: 5px auto 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  font-size: 1.7rem;
}

footer .FooterLegal {
  display: flex;
  width: 20%;
  margin: 5px auto 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: .9rem;
}

footer .FooterLegal a {
  color: #ffffff;
}

footer .FooterCopy {
  font-size: .9rem;
}

footer.ComingSoonFoot {
  width: 100%;
  position: relative;
  max-height: 200px;
  border: none;
  background: transparent;
  overflow-y: hidden;
  z-index: 20;
}

footer.ComingSoonFoot .ComingSoonFooter {
  width: 90vw;
  margin: 10px auto;
  aspect-ratio: 1/1;
  border-top: 2px solid #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  position: relative;
  z-index: 22;
  top: 0;
}

footer.ComingSoonFoot .AllFooter {
  bottom: 10px;
  position: absolute;
  width: 100%;
  z-index: 23;
}